body{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
}
::-webkit-scrollbar {
    display: none;
  }
.header{
    background-image: url(img/Background.png) ;
    padding-top: 2.1vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navbar .profile{
    display: flex;
    gap: 1.9vw;
    
    
}
.navbar .profile :nth-child(2){
    border-right: 0.12vw white solid;
    border-left: 0.12vw white solid;
    padding: 0 1.9vw;
}
.burger button{
    background-color: transparent;
}
.header .mainhead{
    margin: 3.9vw 10.2vw;
    padding-bottom: 100px;
}
.header .mainhead .flexer{
    display: flex;
    gap: 6vw;
}

.mainhead .text{
    margin-top: 3vw;
}
.mainhead .text .firstabz{
    font-size: 1.3vw;
    line-height: 140%;
    margin-left: 6px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.mainhead .text .secondabz{
    font-weight: 700;
    font-size: 6.1vw;
    line-height: 100%;    
    text-transform: uppercase;  
    color: #FFFFFF;
}
.mainhead .text .cost{
    display: flex;
    height: 3.5vw;
    align-items: center;
    margin-top: 3.2vw;
}
.mainhead .text .cost .price1{
    padding-right: 1.85vw;
    border-right: 0.12vw white solid;
    font-weight: 700;
    font-size: 2.7vw;
    line-height: 130%;

    
    
    color: #FFFFFF;
}
.header .navbar .logo img{
    width: 4.5vw;
}
.header .navbar .profile img{
    width: 2.9vw;
}
.header .navbar .burger img{
    width: 2.3vw;
}
.mainhead .text .cost .price2{
    padding-left: 1.8vw;
    font-weight: 500;
    font-size: 1.9vw;
    line-height: 140%;
    /* or 43px */ 
    text-decoration-line: line-through;
    
    color: #FFFFFF;
    
    opacity: 0.7;
}
.flexer img{
    width: 35.2vw;
    height: 36vw;
}
.header .mainhead .flexer .buynow{
    color: #FF4948;
    display: block;
    background-color: white;
    margin-top: 2.1vw;
    text-align: center;
    padding: 0.9vw 0;
    width: 11.7vw;
    font-size: 1.3vw;
    line-height: 140%;
    border-radius: 3.8vw;
    
}
.section2{
    max-width: 70vw;
    margin: 0 auto;

    height: 500px;
}
.section2 .article{
    text-align: center;
    font-weight: 700;
    font-size: 2.7vw;
    line-height: 130%;
}
.section2 .arrow1{
    transform: rotate(-180deg);
}
.section2 .container{
    display: flex;
    margin: 4.3vw 0;
    min-width: 0;
}
.swiper-wrapper img{
    width: 27vw;
}
.section3{
    max-width: 80vw;
    margin: 20vw auto;
    margin-bottom: 10vw;

}
.section3 .container3{
    display: flex;
    gap: 5vw;
}
.section3 .container3 .article{
    font-weight: 700;
    font-size: 2.7vw;
    line-height: 130%;

    margin-bottom: 2.9vw;
}
.container3 .bas-img img{
    width: 40vw;

}
.section3 .right-side .article-info{
    display: flex;
    gap: 0.9vw;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 140%;   
    color: #000000;  
    opacity: 0.7;
    width: 17vw;
    padding: 1.2vw;
    border-bottom: rgb(0, 0, 0, 0.1) solid 0.1vw ;
    
}
.section3 .right-side .article-info img{
    width: 1.2vw;
}
.section3 .right-side .info {
    margin-top: 1vw;
    margin-left: 3.5vw;
    width: 40vw;
    
}
.dislpay-none{
    display: none;
}
.btn-info{
    background: initial;
}
.section-input{
    background-image: url(img/bg.png);
    max-width: 76.2vw;
    height: 18vw;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}
.input-block{
    text-align: center;
}
.input-block .input-text{
    font-weight: 400;
    font-size: 1vw;
    line-height: 150%;

    text-align: center;    
    color: #180202;  
    opacity: 0.7;   

}
.input-block .subscribe{
    font-size: 2.7vw;
    line-height: 130%;
    color: #180202;
    margin-bottom: 1vw;
    padding-top: 3.3vw;
}
.input-block{
    background-color: #FFF4F4;
    width: 43.9vw;
    margin: 0 auto;
    border-radius: 1.8vw;
}
.forma{
    margin-top: 2.2vw;
    padding-bottom: 3.35vw;
    
}

.input{
    border-radius: 3.8vw 0vw 0vw 3.8vw;
    position: absolute;
    width: 31vw;
    height: 3.7vw;
    left: 32%;
}
.input::placeholder {
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 150%; 
    color: #180202; 
    opacity: 0.3;
    padding-left: 1.85vw;
}
.sub-button{
    font-weight: 500;
    font-size: 1.35vw;
    line-height: 140%;
    color: #FFFFFF;
    border-radius: 3.8vw;
    position: relative;
    left: 30%;
    width: 10.3vw;
    height: 3.7vw;

    background-color: #FF4948;
}
.burger-menu{
    position: absolute;
    background-color: red;
    width: 20vw;
    height: 100vh;
    top: 0%;
    right: 0%;
    margin-top: 3vw;
    transition: transform .5s;
}